In [61]:
import numpy as np
import pandas as pd

In [62]:
#Load the original data set
df = pd.read_csv('churn-bigml-80.csv', index_col=0)
df1 = pd.read_csv('churn-bigml-20.csv', index_col=0)

In [63]:
df

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,,
KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SC,79,415,No,No,0,134.7,98,22.90,189.7,68,16.12,221.4,128,9.96,11.8,5,3.19,2,False
AZ,192,415,No,Yes,36,156.2,77,26.55,215.5,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
WV,68,415,No,No,0,231.1,57,39.29,153.4,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
RI,28,510,No,No,0,180.8,109,30.74,288.8,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
TN,74,415,No,Yes,25,234.4,113,39.85,265.9,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [64]:
df1

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,,
LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [65]:
#Combine into one dataframe
df_full = pd.concat([df,df1], axis=0)

In [66]:
df_full

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
State,,,,,,,,,,,,,,,,,,,
KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WI,114,415,No,Yes,26,137.1,88,23.31,155.7,125,13.23,247.6,94,11.14,11.5,7,3.11,2,False
AL,106,408,No,Yes,29,83.6,131,14.21,203.9,131,17.33,229.5,73,10.33,8.1,3,2.19,1,False
VT,60,415,No,No,0,193.9,118,32.96,85.0,110,7.23,210.1,134,9.45,13.2,8,3.56,3,False
WV,159,415,No,No,0,169.8,114,28.87,197.7,105,16.80,193.7,82,8.72,11.6,4,3.13,1,False
CT,184,510,Yes,No,0,213.8,105,36.35,159.6,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False

In [67]:
#Identify quantitative features and categorical features
numeric_features = ['Account length', 'Area code', 'Number vmail messages',
                    'Total day minutes', 'Total day calls', 'Total day charge',
                   'Total eve minutes','Total night minutes','Total night calls','Total intl minutes','Total intl calls',
                    'Total intl charge']
categorical_features = ['International plan', 'Voice mail plan']

In [68]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, OneHotEncoder
#changing categorical features into dummies
enc = OneHotEncoder(handle_unknown='error', drop='first',categories='auto',sparse=False) # using onehotencoder to improve predictions
le = preprocessing.LabelEncoder() #  transforms the data into a format that is more easily
X1 = df_full.apply(le.fit_transform) 
X = X1.drop(columns=['Churn'])

In [69]:
X

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls
State,,,,,,,,,,,,,,,,,,
KS,126,1,0,1,19,1491,70,1491,767,60,684,1184,49,657,79,3,79,1
OH,105,1,0,1,20,667,83,667,748,64,668,1265,61,701,116,3,116,1
NJ,135,1,0,0,0,1362,74,1362,158,71,150,443,62,292,101,5,101,0
OH,82,0,1,0,0,1625,31,1625,13,49,13,758,47,445,45,7,45,2
OK,73,1,1,0,0,711,73,711,330,83,307,664,79,401,80,3,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WI,112,1,0,1,20,448,48,448,395,86,365,1210,52,670,94,7,94,2
AL,104,0,0,1,23,112,91,112,825,92,735,1051,31,590,60,3,60,1
VT,58,1,0,0,0,949,78,949,42,71,42,876,92,502,111,8,111,3
WV,157,1,0,0,0,737,74,737,770,66,686,729,40,431,95,4,95,1
CT,182,2,1,0,0,1123,65,1123,427,45,394,266,95,191,29,10,29,2

In [70]:
#Use OneHotEncoder to change categorical targets into dummies
enc_df=enc.fit_transform(df_full[['Churn']])
df_full['Churn1']=enc_df
y=df_full['Churn1']

In [71]:
df_full.head(20)

,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn,Churn1
State,,,,,,,,,,,,,,,,,,,,
KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False,0.0
OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False,0.0
NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False,0.0
OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False,0.0
OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False,0.0
AL,118,510,Yes,No,0,223.4,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False,0.0
MA,121,510,No,Yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False,0.0
MO,147,415,Yes,No,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False,0.0
WV,141,415,Yes,Yes,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,3.02,0,False,0.0
RI,74,415,No,No,0,187.7,127,31.91,163.4,148,13.89,196.0,94,8.82,9.1,5,2.46,0,False,0.0
IA,168,408,No,No,0,128.8,96,21.90,104.9,71,8.92,141.1,128,6.35,11.2,2,3.02,1,False,0.0
MT,95,510,No,No,0,156.6,88,26.62,247.6,75,21.05,192.3,115,8.65,12.3,5,3.32,3,False,0.0
IA,62,415,No,No,0,120.7,70,20.52,307.2,76,26.11,203.0,99,9.14,13.1,6,3.54,4,False,0.0
ID,85,408,No,Yes,27,196.4,139,33.39,280.9,90,23.88,89.3,75,4.02,13.8,4,3.73,1,False,0.0
VT,93,510,No,No,0,190.7,114,32.42,218.2,111,18.55,129.6,121,5.83,8.1,3,2.19,3,False,0.0
VA,76,510,No,Yes,33,189.7,66,32.25,212.8,65,18.09,165.7,108,7.46,10.0,5,2.70,1,False,0.0
TX,73,415,No,No,0,224.4,90,38.15,159.5,88,13.56,192.8,74,8.68,13.0,2,3.51,1,False,0.0
FL,147,415,No,No,0,155.1,117,26.37,239.7,93,20.37,208.8,133,9.40,10.6,4,2.86,0,False,0.0
CO,77,408,No,No,0,62.4,89,10.61,169.9,121,14.44,209.6,64,9.43,5.7,6,1.54,5,True,1.0
AZ,130,415,No,No,0,183.0,112,31.11,72.9,99,6.20,181.8,78,8.18,9.5,19,2.57,0,False,0.0

In [72]:
y.sum()

483.0

In [73]:
from sklearn.model_selection import train_test_split
#Set X_train and X_test
#We use the column "churn" as the target, and rest of the columns as features
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)

In [74]:
X_train.shape

(2666, 18)

In [75]:
X_test.shape

(667, 18)

In [76]:
y_train.shape

(2666,)

In [77]:
y_test.shape

(667,)

In [78]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import GridSearchCV
#Try Naive Bayes model for prediction
#Use GridSearchCV to look through a list of hyperparameters(different alpha) and use cross validation with k=10
hyperparams = {'alpha': [0.1 , 0.2 , 0.3 , 0.4 , 0.5 ,0.6 , 0.7 , 0.8 , 0.9 , 1] }
model = MultinomialNB()
model_grid = GridSearchCV(model, hyperparams, cv=5)

#fit the decision tree with the X_train and the best decision tree model in GridSearchCV
best_model = model_grid.fit(X_train, y_train)
print(f"The best multinomial naive bayes model's cross validation error = {1 - best_model.best_score_:.2f}")

The best multinomial naive bayes model's cross validation error = 0.42

In [106]:
from sklearn.tree import DecisionTreeClassifier
#Try decision tree classifier
#Use GridSearchCV to look through a list of hyperparameters(different max_depth etc) and use cross validation with k=5
hyperparams = {'max_depth': [3, 5, 10,15, 20],
               'criterion': ['gini', 'entropy'],
               'min_samples_leaf': [2, 4]}
model = DecisionTreeClassifier(random_state = 1)
model_grid = GridSearchCV(model, hyperparams, cv=5)

#fit the decision tree with the new X_train and the best decision tree model in GridSearchCV
best_model = model_grid.fit(X_train, y_train)
print(f"The best decision tree model's cross validation error = {1 - best_model.best_score_:.2f}")

The best decision tree model's cross validation error = 0.06

In [107]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs').fit(X_train,y_train)
#cv = cross_validate(model,X_train,y_train,cv=5)
print(f"The logistic regression's training error rate = {1 - model.score(X_train, y_train):.2f}")

The logistic regression's training error rate = 0.14

C:\Users\z_sal\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [108]:
from sklearn.neighbors import KNeighborsClassifier
hyperparams = {'n_neighbors': [1, 3, 5]}
knn = KNeighborsClassifier()
model_grid = GridSearchCV(knn, hyperparams, cv=5)
               
best_model = model_grid.fit(X_train, y_train)
print(f"The best knn classifier model's cross validation error = {1 - best_model.best_score_:.2f}")

The best knn classifier model's cross validation error = 0.12

In [109]:
from sklearn.ensemble import RandomForestClassifier
hyperparams = {'max_depth': [50,75,100,None],
              "n_estimators":[100,120,150]}
model = RandomForestClassifier(random_state = 1)
model_grid = GridSearchCV(model, hyperparams, cv=5)
best_model = model_grid.fit(X_train, y_train)
print(f"The best random forest classifier's cross validation error = {1 - best_model.best_score_:.2f}")

The best random forest classifier's cross validation error = 0.05

In [110]:
print(f"Best hyperparameter: {model_grid.best_params_}")

Best hyperparameter: {'max_depth': 50, 'n_estimators': 150}

In [111]:
model_final = RandomForestClassifier(max_depth = 50, n_estimators=120, random_state = 1)

In [112]:
model_final

RandomForestClassifier(max_depth=50, n_estimators=120, random_state=1)

In [119]:
from sklearn.feature_selection import SelectKBest, chi2,mutual_info_classif
selector = SelectKBest(mutual_info_classif, k=6)#Since we have both categorical and quantitive features, we select mutual_info_classif
selector.fit(X_train, y_train)
X_train_new = selector.transform(X_train)
X_test_new = selector.transform(X_test)
best_features = selector.get_support(indices=True)

In [127]:
X_train_new

array([[   0, 1623,   72, 1623,   76,    2],
       [   0,  988,   47,  988,   66,    4],
       [   0, 1128,  105, 1128,   87,    1],
       ...,
       [   0,  627,   78,  627,   63,    3],
       [   0,  761,   46,  761,   77,    1],
       [   0,  486,   67,  486,   35,    2]], dtype=int64)

In [128]:
X_test_new

array([[   0,  554,   33,  554,   65,    2],
       [   1,  908,   38,  908,    2,    1],
       [   0, 1402,   87, 1402,   68,    2],
       ...,
       [   0,  308,   46,  308,  113,    2],
       [   0,  247,   48,  247,   89,    2],
       [   0, 1233,   48, 1233,   43,    0]], dtype=int64)

In [132]:
best_features

array([ 2,  5,  6,  7, 14, 17], dtype=int64)

In [133]:
pd.DataFrame({'feature': X_train.columns,
              'importance':selector.scores_}).sort_values(by='importance', ascending=False).iloc[0:6,]

                   feature  importance
7         Total day charge    0.056296
5        Total day minutes    0.055223
17  Customer service calls    0.028360
2       International plan    0.028256
14      Total intl minutes    0.016766
6          Total day calls    0.015616

In [134]:
from sklearn.model_selection import cross_validate 
#We firstly try to use the best features selected from SelectKBest.
cv = cross_validate(model_final, X_train_new, y_train, cv=5) #X_train_new has only features selected in SelectKBest
print(f"The cross-validation error with 6 top features = {1 - cv['test_score'].mean():.2f}")

The cross-validation error with 6 top features = 0.11

In [135]:
model_final.fit(X_train, y_train) #we now still use the original set of X
print(pd.DataFrame({'feature': X_train.columns,'importance':model_final.feature_importances_}).sort_values(by='importance', ascending=False))

                   feature  importance
7         Total day charge    0.142888
5        Total day minutes    0.142259
17  Customer service calls    0.114651
2       International plan    0.075570
8        Total eve minutes    0.065355
10        Total eve charge    0.065071
15        Total intl calls    0.055805
16       Total intl charge    0.042992
14      Total intl minutes    0.040053
11     Total night minutes    0.039814
13      Total night charge    0.036490
6          Total day calls    0.032990
12       Total night calls    0.031537
0           Account length    0.030003
9          Total eve calls    0.028667
4    Number vmail messages    0.027246
3          Voice mail plan    0.020230
1                Area code    0.008381

In [136]:
# Therefore we drop the least two important features (whose importance level are below 0.02)
X_train_final = X_train.drop(columns=['Area code', 'Voice mail plan'])
cv = cross_validate(model_final, X_train_final, y_train, cv=5)
print(f"The cross-validation error with 2 decreased features = {1 - cv['test_score'].mean():.2f}")

The cross-validation error with 2 decreased features = 0.05

In [137]:
model_final.fit(X_train_final,y_train)
#X_test_final = X_test.drop(columns=['Area code', 'Voice mail plan'])
X_test_final = X_test.drop(columns=['Area code', 'Voice mail plan'])
print(f"Our final model's testing error rate = {1 - model_final.score(X_test_final, y_test):.2f}")

Our final model's testing error rate = 0.04

In [138]:
predicted_proba = model_final.predict_proba(X_test_final)
model_final.classes_

array([0., 1.])

In [139]:
#Now we would like to calculate how many people have the intention to churn (churn = 1)
n_lst=[]
for i in range(len(predicted_proba)): 
    if predicted_proba[i][0]>0.5:
        n_lst.append(i)
    else:
        continue
print(len(n_lst)/len(X_test_final))

0.8785607196401799

In [141]:
from sklearn.metrics import confusion_matrix
threshold = 0.5
y_predicted = (predicted_proba[:,1] >= threshold).astype('int')
confusion_matrix(y_test, y_predicted).ravel() #(tn, fp, fn, tp)

array([564,   8,  22,  73], dtype=int64)

In [142]:
X_train_final.columns

Index(['Account length', 'International plan', 'Number vmail messages',
       'Total day minutes', 'Total day calls', 'Total day charge',
       'Total eve minutes', 'Total eve calls', 'Total eve charge',
       'Total night minutes', 'Total night calls', 'Total night charge',
       'Total intl minutes', 'Total intl calls', 'Total intl charge',
       'Customer service calls'],
      dtype='object')

In [143]:
import numpy as np
#customer 1 with the higher value in total day minutes (4th number in the list)
c1=np.atleast_2d([13,0,21,880,105,53.65,208.9,71,17.76,260.1,123,11.7,12.1,3,3.27,3]) 
#customer with the lower value in total day minutes (4th number in the list)
c2=np.atleast_2d([13,0,21,4,105,53.65,208.9,71,17.76,260.1,123,11.7,12.1,3,3.27,3]) 

pd.DataFrame({'More total day minutes': model_final.predict_proba(c1)[0],
              'Less total day minutes': model_final.predict_proba(c2)[0]},
             index=['Churn: No', 'Churn: Yes'])

            More total day minutes  Less total day minutes
Churn: No                 0.841667                0.858333
Churn: Yes                0.158333                0.141667

In [144]:
#customer 3 with the less customer service calls(last number in the list)
c3=np.atleast_2d([93,0,22,306.2,123,52.05,189.7,83,16.12,240.3,107,10.81,11.7,2,3.16,0])
#customer 4 with the more customer service calls(last number in the list)
c4=np.atleast_2d([93,0,22,306.2,123,52.05,189.7,83,16.12,240.3,107,10.81,11.7,2,3.16,9])
pd.DataFrame({'Less customer service calls': model_final.predict_proba(c3)[0],
              'More customer service calls': model_final.predict_proba(c4)[0]},
             index=['Churn: No', 'Churn: Yes'])

            Less customer service calls  More customer service calls
Churn: No                      0.816667                     0.183333
Churn: Yes                     0.183333                     0.816667

In [145]:
#customer 5 with the lower value in total day charge(6th number in the list)
c5=np.atleast_2d([64,0,40,210,116,0,232.7,89,19.78,168.8,94,7.6,5.9,4,2.54,0])
#customer 6 with the higher value in total day charge(6th number in the list)
c6=np.atleast_2d([64,0,40,210,116,1488,232.7,89,19.78,168.8,94,7.6,5.9,4,2.54,0])
pd.DataFrame({'Less total day charge': model_final.predict_proba(c5)[0],
              'More total day charge': model_final.predict_proba(c6)[0]},
             index=['Churn: No', 'Churn: Yes'])

            Less total day charge  More total day charge
Churn: No                0.841667               0.783333
Churn: Yes               0.158333               0.216667